@import url(./font.css);
@import url(./normalize.css);

*,h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    max-width: 943px;
    margin: 0 auto;
}

header {
    max-width: 100%;
}

header .container {
    border-bottom: solid 1px #828282;
    padding: 33px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    transition: 0.3s;
}

.menu a:hover {
    color: #070707;
}

.burger {
    display: none;
}

.intro-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: flex-start;
}

h1 {
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    max-width: 123px;
    margin-top: 40px;
}

.ip {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    max-width: 170px;
    margin-top: 95px;
}

.rotdeg {
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    margin-top: 90px;
}

.rotdeg span {
    color: #000000;
}

.intro-div img {
    max-width: 100%;
}

.about {
    background-color: #F6F6F6;
    padding: 120px 0 107px 0;
}

.about h2 {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 18px;
}

.about p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-top: 54px;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
}

.about p:first-of-type {
    margin-top: 0;
}

.about p:last-of-type {
    max-width: 390px;
}

.skills {
    background-color: #FFFFFF;
    text-align: center;
    padding: 91px 0 111px 0;
}

.skills h2 {
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.skills p {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin-bottom: 83px;
    margin-top: 69px;
}

.appcard p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin: 41px auto 23px auto;
}

.skills .container {
    display: flex;
    justify-content: space-between;
}

.portfolio {
    background-color: #F6F6F6;
    padding: 112px 0 96px 0;
}

.portfolio h2 {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px;
}

.portfolio p {
    margin: 45px 0 99px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio img {
    max-width: 100%;
}

footer {
    margin: 114px 0 123px 0;
    background-color: #FFFFFF;
}

footer h2 {
    color: #070707;
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.fp {
    color: #070707;
    text-align: center;
    font-size: 18px;
    margin-bottom: 42px;
}

footer a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    padding: 13px 30px;
    background-color: #070707;
    border-radius: 22px;
    display: block;
    max-width: fit-content;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 86px;
    transform: scale(1.0);
    transition: 0.3s;
}

footer a:hover {
    transform: scale(0.9);
    background-color: #424242;
}

footer .container {
    display: flex;
    max-width: 342px;
    margin-bottom: 46px;
    justify-content: space-between;
}

footer img {
    height: 100%;
    transition: 1500ms;
    display: inline-block;
    cursor: pointer;
}

footer img:hover {
    transform: rotate(359deg);
}

.ps {
    color: #828282;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 376px) {
    .menu {
        display: none;
    }

    .rotdeg {
        display: none;
    }

    .intro-div:first-of-type {
        display: block;
    }

    .ip {
        margin-top: 23px;
    }

    h1 {
        margin-bottom: 0px;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .skills .container {
        flex-direction: column;
        row-gap: 82px;
    }

    .about {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    header {
        border: none;
    }

    .intro {
        border: none;
    }

    header .container {
        border: none;
    }

    .burger {
        display: block;
        position: fixed;
        right: 35px;
        top: 68px;
        transition: 1500ms;
        background-color: white;
        padding: 15px;
        border-radius: 5px;
    }

    .burger:hover {
        transform: rotate(359deg);
    }
}